@import "./bars.scss";
@import "./model.scss";
@import "./form.scss";
@import "./material.scss";
@import "./txt.scss";
@import './width.scss';

body {
  direction: rtl;
  background: #eeeeee5e;;}
.cal {
  direction: rtl;
  display: inline-block;
  margin: 5px;
}
.cal span {
  display: inline;
  float: right;
}
.bg-red{
background-color: red !important;
}
.inline{
  display: inline-block;
}
.mr-10{
  margin-right: 10% !important;
}
.mr-1{
  margin-right: 1% !important;
}
.f-l{
  float: left;
}
