.blod {
  -webkit-text-stroke-width: medium;
}
.txt-cyan {
  color: #00bcd4c7;
}
.txt-blue {
  color: #21a5f3;
}
.d-ltr {
  direction: ltr;
}
.txt-red {
  color: red !important;
}
.txt-grean {
  color: #8bc34a !important;
}
.txt-r {
  text-align: right !important;
}
